.new-post-form {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.new-post-title {
  font-size: 20px !important;
}

.input-field label {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.input-field input {
  font-size: 1.1em;
}
.input-field textarea {
  font-size: 1.05em;
}
.input-field input:not(input[type='file']),
.input-field textarea {
  resize: vertical;
  border: 1px solid #1c59ff;
  border-radius: 5px;
  color: #040c21;
  padding: 3px;
}

.body-buttons {
  align-self: flex-start;
  display: flex;
  gap: 10px;
}

.body-buttons .add-more-button {
  cursor: pointer;
  user-select: none;
  align-self: flex-start;
  padding: 1em 1.5em;
  border: none;
  outline: none;
  border-radius: 15px;
  background: #1c59ff;
  color: #fff;
}

.body-buttons .remove-field {
    background: #ff3404;    
}

.select-field select {
  align-self: flex-start;
}

.submit-field {
  align-self: center;
}

.submit-field input {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em 3em;
  background-color: #1c59ff;
  color: #fff;
  border-radius: 15px;
}

.body-of-post {
  border-radius: inherit;
  padding: 1em 0.5em;
  background: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.body-fields-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.body-of-post .body-title {
  font-size: 17px;
}
