.main-wrapper {
  --sidebar-width: 275px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
  overflow-x: auto;
}

.grid-layout > * {
  min-width: 100px;
}

.button-actions {
  width: fit-content;
  grid-column: span 2;
  justify-self: flex-end;
}

.post-comments {
  justify-self: center;
}

.posts-header {
  display: flex;
  justify-content: space-between;
}

.posts-header .button-wrapper {
  width: fit-content;
}

.posts-header .button-wrapper .new-post-button {
  border-radius: 10px;
  background-color: #1357bc;
  padding: 1em;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: .3s;
}

.posts-header .button-wrapper .new-post-button:hover {
  background-color: #1d68da;
}

.single-post {
  align-items: center;
  background-color: #eee;
  border-radius: inherit;
  padding: 1em;
}

.view, .edit, .delete {
  padding: .75em;
  transition: .3s;
}

.view {
  background: #1357bc;
}

.edit {
  background: #ffc107;
}
.delete {
  background: #e4360f;
}

.view:hover {
  background: #1d68da;
}

.edit:hover {
  background: #ffd600;
}
.delete:hover {
  background: #ff4a22;
}
