.grid-layout {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow-x: auto;
}

.grid-layout p:first-child, .grid-layout div:first-child {
  min-width: 150px;
}

.grid-layout > * {
  min-width: 100px;
}

.field-names p:nth-child(5), .field-names p:nth-child(6), .field-names p:last-child, .user-username, .user-date-created, .button-actions {
  margin-left: 10px;
}

.all-users {
  background: #dadada;
  border-radius: 15px;
  padding: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.single-user {
  align-items: center;
  position: relative;
  background: #eee;
  padding: 1em;
  border-radius: inherit;
}

.user-name, .user-surname, .user-email, .user-username {
  overflow-x: auto;
}

.user-username {
    font-weight: 600;
}

.single-user .profile-picture {
  width: 60px;
  height: 60px;
  padding-left: 2em;
  border-radius: 50%;
}

.single-user .profile-picture img {
  width: 60px;
  height: 60px;
  border-radius: inherit;
}

.button-actions {
  width: fit-content;
}

.approve, .delete {
  padding: .75em;
  transition: .3s;
}

.approve {
  background-color: #1357bc;
}
.delete {
  background-color: #e4360f;
}
.approve:hover {
  background-color: #1d68da;
}
.delete:hover {
  background-color: #ff4a22;
}
