/*---------- These styles are for the users page ----------*/
.grid-layout {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* this porperty allows us to determine how many grid 'columns' we want so that we can easily stylize the posts page so that it seems like a table without actually being a table */
  overflow-x: auto; /* we used overflow auto so that when there's content exceeding the width, a scroll bar will appear in the horizontal axis */
  gap: 10px; /* this property allows us to set the gap between the grid items */
}

.grid-layout p:first-child,
.grid-layout div:first-child {
  min-width: 150px;
}

.grid-layout > * {
  /* this property is set to every direct child of grid-layout, nested childs do not take this property */
  min-width: 100px;
}

.field-names p:nth-child(5),
.field-names p:nth-child(6),
.field-names p:last-child,
.user-username,
.user-date-created,
.button-actions {
  margin-left: 10px;
}

.all-users {
  background: #dadada;
  border-radius: 15px;
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.single-user {
  align-items: center;
  position: relative;
  background: #eee;
  padding: 1em;
  border-radius: inherit;
}

/* .user-name,
.user-surname,
.user-email,
.user-username {
  overflow-x: auto;
} */

.user-username {
  font-weight: 600;
}

.single-user .profile-picture {
  width: 60px;
  height: 60px;
  padding-left: 2em;
  border-radius: 50%;
}

.single-user .profile-picture img {
  width: 60px;
  height: 60px;
  border-radius: inherit;
}

.button-action-wrapper {
  min-width: unset !important; /* unset the min-width that is previously set */
}

.button-actions {
  width: fit-content;
  grid-column: span 2; /* this makes the item span 2 columns inside a grid layout box */
  justify-self: flex-end; /* this makes the item align itself to the right */
}


/* 
 *
 * these styles below are for the buttons on every user card,
 * they set the padding, and the color of the buttons.
 *
 */
.approve,
.delete {
  padding: 0.75em;
  transition: 0.3s;
}

.approve {
  background-color: #1357bc;
}
.delete {
  background-color: #e4360f;
}
.approve:hover {
  background-color: #1d68da;
}
.delete:hover {
  background-color: #ff4a22;
}
