/*---------- These styles are for the index page ----------*/
/* the css code below is used to design the index page, more specifically the posts that appear in the home 
page so that they are centered and appear one after the other vertically using flex-direction: column */
.main-posts-container {
  width: 900px;
  margin: 75px auto 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-posts-container .single-post {
  display: flex; 
  flex-direction: column; 
  gap: 25px; /*  gap between the posts */
  padding: 50px 75px; /* padding for the posts */
  background-color: #f8f8f8; /* background color for the posts */
  box-shadow: 5px 5px 10px #ddd; /* box-shadow to make it appear as if its hovering over the page */
}

.single-post .single-post-header {
  display: flex; /* making the container a flexbox for easier layouts */
  flex-direction: column; /* making the flexbox direction a column, meaning elements will be in a vertical format */
  gap: 5px; 
  padding-top: 10px;
}

.single-post .single-post-header .date-created {
  font-size: 14px;
  color: #828282;
}

.single-post-header p:nth-child(2) { /* since we didnt assign a class or id for every element used in the html files, we accessed them through the nth-child */
  margin-top: 0;
}

.single-post .single-post-header .post-title-category {
  display: flex;
  justify-content: space-between; /* gives a automatic space between the title and category of the post, we can use this property because display: flex is assigned */
  align-items: baseline; /* The items are aligned at the baseline of the vertical axis, meaning the items will align themselves so that the baseline of their text aligns to a horizontal line */
}

.single-post .single-post-header .post-title {
  font-size: 28px;
  font-weight: 700;
}

.single-post .single-post-header .post-category {
  font-size: 14px;
  color: #828282;
}

.single-post .image-container,
.single-post .image-container img {
  border-radius: 10px;
  width: 100%;
}

.single-post .single-post-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.single-post .discussions-button-wrapper {
  width: fit-content;
}

.single-post .discussions-button-wrapper .discussions-button {
  font-size: 17px;
  font-weight: 600;
  color: #1357bc;
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer; /* cursor: pointer makes the button look like a link, and changing the cursor of the user to the pointy finger */
  transition: 0.3s; /* transition is used to make color change smooth */
  margin-bottom: 10px;
}

.single-post .discussions-button-wrapper:hover .discussions-button {
  color: #1d68da;
}

/*---------- These styles are for the single post page, where only one post is shown ----------*/

.single-post-page {
  background-color: #f8f8f8;
  box-shadow: 5px 5px 10px #ddd;
  padding: 50px 75px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  width: 750px;
  margin: 75px auto 20px; /* 75px top margin, auto left and right, and 20px bottom margin */
  display: flex; /* making the container a flexbox for easier layouts */
  flex-direction: column; /* making the flexbox direction a column, meaning elements will be in a vertical format */
  gap: 50px; /* gap between the flexbox elements */
}

.single-post-page .single-post {
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.post-comments-title {
  margin-bottom: 30px;
}

.comment-container .user-data-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.comment-container .user-data-comment .user-name {
  flex: 1; /* making the user name take up all the space available, flex is a shorthand for flex-grow, flex-shrink, and flex-basis */
}

.add-comment-container {
  display: flex;
  gap: 15px;
  margin-bottom: 35px;
}

.user-image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-image-container img {
  width: 100%;
  height: 100%;
  border-radius: inherit; /* the border radius is inherited from the class .user-image-container property value above which is 50% */
}

.comment-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-form textarea {
  resize: vertical !important; /* if the rule !important is used, it will override previous styling rules for that property of that element */
}

.comment-form input[type='submit'] { /* instead of using classes or id, we access inputs by specifying their types */
  cursor: pointer;
  align-self: flex-start; /* aligns this element in the beginning of the flexbox that it sits, or simply to the left */
  border: none;
  outline: none;
  padding: 1em 2em; /* padding for the input, em values are relative to the font-size of the element, which by default is 16px, this sets the padding to 16px top and bottom, and 32px left and right */
  border-radius: 10px;
  color: #fff;
  background: #1357bc;
  transition: .3s;
}

.comment-form input[type='submit']:hover {
  background: #1d68da;
}

.single-post-page .post-comments,
.single-post-page .post-comments .comment-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.single-post-page .post-comments > .comment-container {
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
}

.comment-container .user-name {
  margin-left: 10px;
}