/*---------- Here we imported fonts that are used on the pages ----------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* the main css file was initially used on all pages, however when we changed the navigation bar it disrupted our style. 
so the main css is used on the admin pages, dashboard */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none; 
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

